body {
  margin:0;
  overflow-x: hidden;
  background: #111628;
}

header {
  position: relative;
  overflow: hidden;
  height: 500px;
  background: linear-gradient(to bottom,  #589daa 0%, #e3e7db 30%);
  background-attachment: fixed;
}

#logo {
  display: block;
  margin: auto;
  position: relative;
  top: 50px;
}

#fg {
  position: absolute;
  bottom: 0;
  left: 0;
}

.layer {
  position: absolute;
  bottom: 0;
  left: 0;
  will-change: transform;
}

.cloud {
  width: 300px;
  bottom: auto;
}

.small {
  width: 100px;
}

#cloud1 {
  left: 50%;
  top: 200px;
}

#cloud2 {
  left: 10%;
  top: 100px;
}

#cloud3 {
  left: 70%;
  top: 50px;
  width: 150px;
}

section {
  position: relative;
  height: 500px;
  background: #111628;
}

#canvas {
  display: block;
  margin: auto;
}
