html {
  background: #f3f4f5;
}
body {
  height: 5000px;
}
.logo-wrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.logo {
  position: position absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}
.logo path {
  stroke: #787878;
  stroke-width: 1;
  fill-opacity: 0;
  -webkit-transition: fill-opacity 0.75s, stroke-opacity 0.75s;
          transition: fill-opacity 0.75s, stroke-opacity 0.75s;
}
