body {
  margin:0;
  overflow-x: hidden;
}

header {
  position: relative;
  height: 500px;
  background: linear-gradient(to bottom, #589daa 0%, #e3e7db 30%);
  background-attachment: fixed;
}

#logo {
  display: block;
  margin: auto;
  position: relative;
  top: 50px;
}

#fg {
  position: absolute;
  bottom: 0;
  left: 0;
}

.layer {
  position: absolute;
  bottom: 0;
  left: 0;
}

.abs {
  position: absolute;
  top: 0;
  left: 0;
}

.layer2 {
  display: block;
  height: 100%;
  width: 100%;
  margin: auto;
}

.cloud {
  width: 300px;
  bottom: auto;
}

.small {
  width: 100px;
}

#cloud1 {
  left: 50%;
  top: 200px;
}

#cloud2 {
  left: 10%;
  top: 100px;
}

#cloud3 {
  left: 70%;
  top: 50px;
  width: 150px;
}

section {
  position: relative;
  min-height: 500px;
  background: #111628;
}

#section3 {
  height: 1400px;
  overflow: hidden;
}

#scrollPath {
  opacity: 0;
}
